# **Downlaod Packages**

In [9]:
!pip install scipy
!pip install xarray
!pip install netCDF4 xarray cftime h5netcdf --quiet
!pip install xarray[complete]
!pip install cftime --quiet

Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in /usr/local/lib/python3.11/dist-packages (from scipy) (2.0.2)
Requirement already satisfied: xarray in /usr/local/lib/python3.11/dist-packages (2025.1.2)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.11/dist-packages (from xarray) (2.0.2)
Requirement already satisfied: packaging>=23.2 in /usr/local/lib/python3.11/dist-packages (from xarray) (24.2)
Requirement already satisfied: pandas>=2.1 in /usr/local/lib/python3.11/dist-packages (from xarray) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.1->xarray) (1.17.0)
Requirement already satisfied: xarray[complete] in /usr/local/lib/python3.11/dist-packages (2025.1.2)
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (2.0.2)
Requirement already satisfied: packaging>=23.2 in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (24.2)
Requirement already satisfied: pandas>=2.1 in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray[complete]) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1->xarray[complete]) (2025.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.14.1)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.4.2)
Requirement already satisfied: numbagg in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.9.0)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.60.0)
Requirement already satisfied: flox in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.10.1)
Requirement already satisfied: opt_einsum in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (3.4.0)
Requirement already satisfied: netCDF4 in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.7.2)
Requirement already satisfied: h5netcdf in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.6.1)
Requirement already satisfied: zarr in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (3.0.6)
Requirement already satisfied: fsspec in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (2025.3.0)
Requirement already satisfied: cftime in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.6.4.post1)
Requirement already satisfied: pooch in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.8.2)
Requirement already satisfied: sparse in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.15.5)
Requirement already satisfied: dask[complete] in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (2024.12.1)
Requirement already satisfied: cartopy in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.24.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (3.10.0)
Requirement already satisfied: nc-time-axis in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (1.4.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (from xarray[complete]) (0.13.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.11/dist-packages (from numba>=0.54->xarray[complete]) (0.43.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.1->xarray[complete]) (1.17.0)
Requirement already satisfied: shapely>=1.8 in /usr/local/lib/python3.11/dist-packages (from cartopy->xarray[complete]) (2.0.7)
Requirement already satisfied: pyshp>=2.3 in /usr/local/lib/python3.11/dist-packages (from cartopy->xarray[complete]) (2.3.1)
Requirement already satisfied: pyproj>=3.3.1 in /usr/local/lib/python3.11/dist-packages (from cartopy->xarray[complete]) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (1.4.8)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->xarray[complete]) (3.2.1)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (8.1.8)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (3.1.1)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (8.6.1)
Requirement already satisfied: pyarrow>=14.0.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (18.1.0)
Requirement already satisfied: lz4>=4.3.2 in /usr/local/lib/python3.11/dist-packages (from dask[complete]; extra == "parallel"->xarray[complete]) (4.4.3)
Requirement already satisfied: numpy_groupies>=0.9.19 in /usr/local/lib/python3.11/dist-packages (from flox->xarray[complete]) (0.11.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.11/dist-packages (from h5netcdf->xarray[complete]) (3.13.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from netCDF4->xarray[complete]) (2025.1.31)
Requirement already satisfied: platformdirs>=2.5.0 in /usr/local/lib/python3.11/dist-packages (from pooch->xarray[complete]) (4.3.7)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.11/dist-packages (from pooch->xarray[complete]) (2.32.3)
Requirement already satisfied: donfig>=0.8 in /usr/local/lib/python3.11/dist-packages (from zarr->xarray[complete]) (0.8.1.post1)
Requirement already satisfied: numcodecs>=0.14 in /usr/local/lib/python3.11/dist-packages (from numcodecs[crc32c]>=0.14->zarr->xarray[complete]) (0.15.1)
Requirement already satisfied: typing-extensions>=4.9 in /usr/local/lib/python3.11/dist-packages (from zarr->xarray[complete]) (4.12.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask[complete]; extra == "parallel"->xarray[complete]) (3.21.0)
Requirement already satisfied: deprecated in /usr/local/lib/python3.11/dist-packages (from numcodecs>=0.14->numcodecs[crc32c]>=0.14->zarr->xarray[complete]) (1.2.18)
Requirement already satisfied: crc32c>=2.7 in /usr/local/lib/python3.11/dist-packages (from numcodecs[crc32c]>=0.14->zarr->xarray[complete]) (2.7.1)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask[complete]; extra == "parallel"->xarray[complete]) (1.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.19.0->pooch->xarray[complete]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.19.0->pooch->xarray[complete]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.19.0->pooch->xarray[complete]) (2.3.0)
Requirement already satisfied: dask-expr<1.2,>=1.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]->xarray[complete]) (1.1.21)
Requirement already satisfied: distributed==2024.12.1 in /usr/local/lib/python3.11/dist-packages (from dask[complete]->xarray[complete]) (2024.12.1)
Requirement already satisfied: bokeh>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from dask[complete]->xarray[complete]) (3.6.3)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.11/dist-packages (from dask[complete]->xarray[complete]) (3.1.6)
Requirement already satisfied: msgpack>=1.0.2 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (1.1.0)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (3.0.0)
Requirement already satisfied: tornado>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (6.4.2)
Requirement already satisfied: zict>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from distributed==2024.12.1->dask[complete]->xarray[complete]) (3.0.0)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.11/dist-packages (from bokeh>=3.1.0->dask[complete]->xarray[complete]) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2>=2.10.3->dask[complete]->xarray[complete]) (3.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.11/dist-packages (from deprecated->numcodecs>=0.14->numcodecs[crc32c]>=0.14->zarr->xarray[complete]) (1.17.2)

# **Load Manchester Data**

In [10]:
# Link to dataset dropbox provided in practical 6
!wget "https://www.dropbox.com/scl/fo/dmabz9pf3167l62612h5b/h?rlkey=ge8u486w7w7vq8vnpr2f1fvag&e=2&dl=0" -O MAN_data.nc

--2025-03-26 23:35:08--  https://www.dropbox.com/scl/fo/dmabz9pf3167l62612h5b/h?rlkey=ge8u486w7w7vq8vnpr2f1fvag&e=2&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com/zip_download_get/CKBUxENN7sp3ehI1gKji_uXjsLIrS8FDkaq_zLX7ysdVF92ioyXHWCeBhLDB9uJuC7LwIqL8wPF7wUn-RttvKQYEt6uNU7QgNr65qJROZ_095Q# [following]
--2025-03-26 23:35:08--  https://uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com/zip_download_get/CKBUxENN7sp3ehI1gKji_uXjsLIrS8FDkaq_zLX7ysdVF92ioyXHWCeBhLDB9uJuC7LwIqL8wPF7wUn-RttvKQYEt6uNU7QgNr65qJROZ_095Q
Resolving uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com (uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com (uc087015d11d50d8eec5c31ab32b.dl-eu.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298000604 (284M) [application/zip]
Saving to: ‘MAN_data.nc’

MAN_data.nc         100%[===================>] 284.20M  20.2MB/s    in 15s

2025-03-26 23:35:23 (19.5 MB/s) - ‘MAN_data.nc’ saved [298000604/298000604]

In [11]:
# Unzip .nc file
import zipfile
import os

with zipfile.ZipFile("MAN_data.nc", 'r') as zip_ref:
    zip_ref.extractall("unzipped_data")
os.listdir("unzipped_data")

['007_2006_2080_352_360.nc',
 '005_2006_2080_352_360.nc',
 '008_2006_2080_352_360.nc',
 '004_2006_2080_352_360.nc',
 '003_2006_2080_352_360.nc',
 '006_2006_2080_352_360.nc']

In [12]:
# Turn into datasets
import xarray as xr
import os

data_dir = "unzipped_data"
nc_files = sorted(os.listdir(data_dir))

MAN_data = {}

#Specify Manchester location
target_lat = 53.246075
target_lon = 357.5
for file in nc_files:
    file_path = os.path.join(data_dir, file)

    try:
        ds = xr.open_dataset(file_path, engine="netcdf4", decode_times=False)
    except ValueError:
        ds = xr.open_dataset(file_path, engine="h5netcdf", decode_times=False)

    prefix = file.split('_')[0]
    var_name = f"MAN_{prefix}"
    MAN_data[var_name] = ds
    point_data = ds.sel(
        lon=target_lon,
        lat=target_lat,
        method="nearest"
    )
    df = point_data.to_dataframe().reset_index()
    MAN_data[var_name] = df
print(MAN_data['MAN_005'].head())

   time  TREFMXAV_U       FLNS       FSNS         PRECT          PRSN  \
0   1.0  284.302612   8.737288   7.855509  1.544201e-07  4.051599e-16
1   2.0  286.163269   6.686464   7.501073  7.784098e-08  0.000000e+00
2   3.0  286.310303  27.445148  12.188718  4.851411e-08  7.075068e-18
3   4.0  288.008820  10.443632   4.354691  1.091676e-07  1.429017e-14
4   5.0  283.935760  70.927299  31.532597  2.531009e-09  6.418103e-18

       QBOT      TREFHT      UBOT      VBOT        lat    lon
0  0.005373  279.221954  2.303055  4.502803  53.246075  357.5
1  0.007595  284.198425  4.657475  3.158464  53.246075  357.5
2  0.005667  282.420227  5.083677  5.835154  53.246075  357.5
3  0.007362  284.972076  3.029053  8.031938  53.246075  357.5
4  0.004160  280.298279  3.783906  6.986506  53.246075  357.5

In [13]:
# Check missing values and duplicates
for name, df in MAN_data.items():
    print(f"\nChecking {name}")
    missing = df.isnull().sum()
    print("Missing values:")
    print(missing[missing > 0] if missing.sum() > 0 else "None")
    duplicate_times = df['time'].duplicated().sum()
    print(f"Duplicate timestamps: {duplicate_times if duplicate_times > 0 else 'None'}")
    print(f"Unique timestamps: {df['time'].nunique()} / Total rows: {len(df)}")

Checking MAN_003
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

Checking MAN_004
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

Checking MAN_005
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

Checking MAN_006
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

Checking MAN_007
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

Checking MAN_008
Missing values:
None
Duplicate timestamps: None
Unique timestamps: 27374 / Total rows: 27374

In [14]:
#Turn from count of days to datetime
import cftime
import pandas as pd

for df in MAN_data.values():
    noleap_dates = df['time'].apply(lambda x: cftime.DatetimeNoLeap(2006, 1, 1) + pd.to_timedelta(x - 1, unit='D'))
    df['date'] = pd.to_datetime([dt.strftime('%Y-%m-%d') for dt in noleap_dates])
    df.drop(columns='time', inplace=True)

In [15]:
MAN_data

{'MAN_003':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      282.775848  41.925179  25.926952  4.663135e-09  4.781004e-17  0.004769
 1      284.471130   8.905806  10.946910  8.046593e-08  1.295726e-16  0.006271
 2      284.287964  16.511415   6.405902  2.910935e-09  4.094447e-16  0.005782
 3      282.121094  29.948362   9.315041  7.432505e-11  0.000000e+00  0.004277
 4      280.890900  19.064156   7.941241  6.894238e-12  0.000000e+00  0.003990
 ...           ...        ...        ...           ...           ...       ...
 27369  286.859070  55.167488  30.543959  4.768826e-08  0.000000e+00  0.006020
 27370  285.209930  33.668793  15.180238  1.048248e-08  0.000000e+00  0.005895
 27371  285.517090  20.443943  15.585098  1.590194e-09  0.000000e+00  0.006381
 27372  283.791870  33.174114  18.295568  9.272739e-12  0.000000e+00  0.005410
 27373  283.192780  14.260359   8.917209  2.529291e-10  0.000000e+00  0.005427

            TREFHT      UBOT      VBOT        lat    lon       date
 0      279.142883  3.878579  1.394184  53.246075  357.5 2006-01-01
 1      281.148651  1.788157  3.821703  53.246075  357.5 2006-01-02
 2      281.223785  0.804845 -2.299140  53.246075  357.5 2006-01-03
 3      278.397675 -1.100267 -1.258029  53.246075  357.5 2006-01-04
 4      278.063782 -0.706321 -0.938421  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  281.258575  1.665078 -1.866844  53.246075  357.5 2080-12-26
 27370  279.744751 -0.422336  2.654144  53.246075  357.5 2080-12-27
 27371  283.243317  0.827862  3.980862  53.246075  357.5 2080-12-28
 27372  280.888519  0.223743  3.058934  53.246075  357.5 2080-12-29
 27373  280.817627  1.719592  0.591586  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns],
 'MAN_004':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      283.564941   6.118795  10.919062  8.909233e-08  1.053175e-14  0.006630
 1      283.994415  30.605610  13.505382  2.359809e-08  2.963242e-17  0.005252
 2      281.907501  49.963528  29.042658  2.080145e-08  2.459500e-12  0.004472
 3      280.938049  38.166538  26.218863  5.762608e-08  2.959347e-18  0.004525
 4      283.474579  11.456951   4.307912  6.502454e-08  7.293952e-15  0.005931
 ...           ...        ...        ...           ...           ...       ...
 27369  284.340881  61.076118  25.778275  6.237690e-09  5.984878e-19  0.004431
 27370  283.297699  49.093731  20.703382  8.702459e-09  1.302840e-16  0.004670
 27371  281.943665  28.313158  13.846190  3.092980e-09  5.006458e-18  0.004368
 27372  281.938782  44.790138  22.579945  3.884140e-09  1.511830e-17  0.004444
 27373  284.061890  14.020250  12.806109  1.407559e-07  3.668375e-15  0.005713

            TREFHT      UBOT      VBOT        lat    lon       date
 0      281.269958 -0.778822  2.993445  53.246075  357.5 2006-01-01
 1      280.115082  1.579463  4.951698  53.246075  357.5 2006-01-02
 2      277.866547  4.896808  1.153013  53.246075  357.5 2006-01-03
 3      277.417236 -3.568287  3.080430  53.246075  357.5 2006-01-04
 4      281.063141  0.618560  5.766347  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  280.278046  5.466210  4.381413  53.246075  357.5 2080-12-26
 27370  279.387421  3.628653  3.683642  53.246075  357.5 2080-12-27
 27371  278.609833  1.699727  2.453841  53.246075  357.5 2080-12-28
 27372  278.205811  0.467049  2.685232  53.246075  357.5 2080-12-29
 27373  280.227600 -2.889111  4.893875  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns],
 'MAN_005':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      284.302612   8.737288   7.855509  1.544201e-07  4.051599e-16  0.005373
 1      286.163269   6.686464   7.501073  7.784098e-08  0.000000e+00  0.007595
 2      286.310303  27.445148  12.188718  4.851411e-08  7.075068e-18  0.005667
 3      288.008820  10.443632   4.354691  1.091676e-07  1.429017e-14  0.007362
 4      283.935760  70.927299  31.532597  2.531009e-09  6.418103e-18  0.004160
 ...           ...        ...        ...           ...           ...       ...
 27369  281.936798  54.674797  30.739758  3.295916e-09  2.832929e-20  0.004050
 27370  283.758606  17.237247  10.646000  2.152703e-08  1.689277e-23  0.005656
 27371  285.953278  11.791540   6.422498  2.352653e-08  5.303063e-19  0.006324
 27372  287.041016  15.233866  12.290892  1.370449e-08  0.000000e+00  0.007029
 27373  286.128876  34.858963  16.604631  4.296313e-09  0.000000e+00  0.006423

            TREFHT      UBOT      VBOT        lat    lon       date
 0      279.221954  2.303055  4.502803  53.246075  357.5 2006-01-01
 1      284.198425  4.657475  3.158464  53.246075  357.5 2006-01-02
 2      282.420227  5.083677  5.835154  53.246075  357.5 2006-01-03
 3      284.972076  3.029053  8.031938  53.246075  357.5 2006-01-04
 4      280.298279  3.783906  6.986506  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  276.110687  2.957903  0.200040  53.246075  357.5 2080-12-26
 27370  281.060974  5.143696  3.209976  53.246075  357.5 2080-12-27
 27371  283.697327  6.311730  3.368121  53.246075  357.5 2080-12-28
 27372  285.810883  6.767558  5.087225  53.246075  357.5 2080-12-29
 27373  283.500275  1.961040  4.853287  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns],
 'MAN_006':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      281.783630   7.795940   5.284956  8.484563e-09  4.767665e-17  0.004884
 1      282.606598   6.680990   4.146327  4.012821e-08  3.675887e-15  0.005667
 2      282.299133  11.462930   5.328113  3.763157e-09  1.610562e-16  0.005132
 3      281.223236  18.619301  11.026204  2.047969e-09  8.544233e-16  0.003768
 4      283.058319  14.055288   8.590136  2.003277e-09  7.844428e-20  0.005600
 ...           ...        ...        ...           ...           ...       ...
 27369  280.948273  14.914908  10.439489  2.061167e-07  0.000000e+00  0.005174
 27370  281.144287  39.223995  18.932810  1.417330e-08  6.265950e-17  0.004288
 27371  281.784576  65.748985  28.467485  3.500785e-10  2.476131e-17  0.004208
 27372  280.664215  64.425964  24.496321  9.899002e-10  5.922713e-19  0.004285
 27373  281.684082  21.064121  13.954908  2.935353e-08  3.262448e-14  0.005198

            TREFHT      UBOT      VBOT        lat    lon       date
 0      278.642242 -0.688030  3.513100  53.246075  357.5 2006-01-01
 1      280.420105  0.005416 -2.804164  53.246075  357.5 2006-01-02
 2      280.067352 -2.432466 -1.538912  53.246075  357.5 2006-01-03
 3      277.904633 -3.002947  0.825787  53.246075  357.5 2006-01-04
 4      280.422150 -2.908460  2.013617  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  277.903412 -0.844390 -4.662560  53.246075  357.5 2080-12-26
 27370  277.650574  6.115401 -0.257424  53.246075  357.5 2080-12-27
 27371  277.542267  6.853760  1.595987  53.246075  357.5 2080-12-28
 27372  275.348511  0.967602  1.682474  53.246075  357.5 2080-12-29
 27373  278.482178  0.155684  2.725878  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns],
 'MAN_007':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      282.063049  32.912292   9.570811  1.024123e-08  1.328980e-15  0.003757
 1      283.699585  27.826134  18.303064  1.065816e-08  4.577285e-16  0.004989
 2      282.064056  65.338554  28.210258  2.143026e-09  7.480785e-16  0.004033
 3      280.173309  38.994473  16.601635  4.274406e-08  1.316970e-14  0.004264
 4      279.308289   7.846845   3.547717  4.993412e-08  3.063486e-09  0.004556
 ...           ...        ...        ...           ...           ...       ...
 27369  283.754669  39.801468  18.639786  3.262576e-08  7.263507e-17  0.004476
 27370  290.714844  26.743248  17.816031  7.806167e-08  8.346240e-24  0.007808
 27371  290.617828  54.174992  12.987561  4.443908e-08  3.344424e-16  0.004818
 27372  282.042633  30.772768   7.853101  1.461955e-07  1.513967e-14  0.004490
 27373  282.844604  38.660469  19.766939  1.083925e-08  5.731818e-15  0.004373

            TREFHT      UBOT      VBOT        lat    lon       date
 0      279.914276  8.547442  0.224397  53.246075  357.5 2006-01-01
 1      279.756287  3.954805  1.289937  53.246075  357.5 2006-01-02
 2      277.990601  6.494915 -0.385829  53.246075  357.5 2006-01-03
 3      276.348663 -0.893610  0.834761  53.246075  357.5 2006-01-04
 4      277.276886 -4.548933  0.594513  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  281.520233  6.240410  3.863839  53.246075  357.5 2080-12-26
 27370  286.230927  6.182361  7.725119  53.246075  357.5 2080-12-27
 27371  283.313477  9.753526  5.765684  53.246075  357.5 2080-12-28
 27372  278.699768  2.305171  0.630563  53.246075  357.5 2080-12-29
 27373  279.569092  6.856066  2.640167  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns],
 'MAN_008':        TREFMXAV_U       FLNS       FSNS         PRECT          PRSN      QBOT  \
 0      284.532593  13.642488  12.411095  8.575076e-08  3.813165e-17  0.005496
 1      284.288055  39.296051  21.248678  1.471860e-08  1.962597e-17  0.005366
 2      283.588257  24.336161   7.372517  7.370906e-08  1.449792e-17  0.005880
 3      283.804718  34.057652  15.931653  6.393348e-08  1.598705e-17  0.004917
 4      283.617218  32.591091  16.447544  3.944200e-08  1.348306e-12  0.004921
 ...           ...        ...        ...           ...           ...       ...
 27369  286.378754  17.438847   6.720299  3.892051e-08  7.616115e-15  0.006004
 27370  286.621307  26.986507  12.976557  2.301632e-07  6.722780e-16  0.005813
 27371  282.327393  41.652626  16.614481  2.653475e-08  1.264485e-15  0.004281
 27372  281.410248  56.226501  24.193817  1.709695e-08  2.954024e-17  0.004289
 27373  280.582733  46.781525  24.450218  1.749981e-08  1.094167e-12  0.004278

            TREFHT      UBOT      VBOT        lat    lon       date
 0      279.626801 -1.441143  3.925679  53.246075  357.5 2006-01-01
 1      280.390015  3.266232  4.357970  53.246075  357.5 2006-01-02
 2      280.348389  2.110154  1.727758  53.246075  357.5 2006-01-03
 3      278.973877  1.468114  4.763241  53.246075  357.5 2006-01-04
 4      279.362274  2.744615  4.807573  53.246075  357.5 2006-01-05
 ...           ...       ...       ...        ...    ...        ...
 27369  282.548523  2.741483  7.565282  53.246075  357.5 2080-12-26
 27370  281.885712  4.295599  7.222901  53.246075  357.5 2080-12-27
 27371  279.076965  3.328679  4.574871  53.246075  357.5 2080-12-28
 27372  277.916626  2.779102  4.442761  53.246075  357.5 2080-12-29
 27373  277.412048 -0.026990  3.524161  53.246075  357.5 2080-12-30

 [27374 rows x 12 columns]}

# **Load Chess Data**

In [39]:
#Link to Chess Tesmax .nc file
!wget "https://www.dropbox.com/scl/fi/l49mccyqqejo3ohve5ibi/chess-scape_rcp85_bias-corrected_01_tasmax_uk_1km_monthly_19801201-20801130.nc?rlkey=ypcwdy6e7ln00qm91mml76akg&st=0tujdw5t&dl=0" -O CHESS_data.nc

--2025-03-27 00:22:04--  https://www.dropbox.com/scl/fi/l49mccyqqejo3ohve5ibi/chess-scape_rcp85_bias-corrected_01_tasmax_uk_1km_monthly_19801201-20801130.nc?rlkey=ypcwdy6e7ln00qm91mml76akg&st=0tujdw5t&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com/cd/0/inline/CmoWLEKGrICqurhFEEzIf9M4crcyXdalYj2EDe0KH8RhSeL2Tcsupc0Sz4d-psKlnHVpsOaMERG4sutRQEwtK5zkHv3S8c2VdMF8N6NcrgsISpGmpF9QMa5QHccR7VbpmnkVelUyyVA17Y9g5BMDxEl5/file# [following]
--2025-03-27 00:22:04--  https://uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com/cd/0/inline/CmoWLEKGrICqurhFEEzIf9M4crcyXdalYj2EDe0KH8RhSeL2Tcsupc0Sz4d-psKlnHVpsOaMERG4sutRQEwtK5zkHv3S8c2VdMF8N6NcrgsISpGmpF9QMa5QHccR7VbpmnkVelUyyVA17Y9g5BMDxEl5/file
Resolving uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com (uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:6019:15::a27d:40f
Connecting to uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com (uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Cmovp585IePGjFPqMoRa1PBl6thT6mGw_8dgM1fMH9Fucw_QFonBWdlthY_3AKFdpsFqARvqYIs0ry0jB86ovQPWAkaSU9b2ERQFGPnra1EMlf878ysCHBKM4pswi6f1zjYAAK1SvrE7WZIJih5nBr0WGYWBFYTNDLdXQXt1qfA-gwxPR0QqLrR1N1H3nqSCtwvx3aQbJDdG-batctiqRY29X04roYs_Kvh3X_ueBeTObwBvAl59mtmnnOvnikc4AUwoKxN5scjGbvziFFV2TFBxlqcRdOlVJj3TpETY-c-d0fA5xvEjXfZdBxQepwXGzBLsQnITn48Q_Rlt4USTNjtKWa4wzf9HvzEaLnOqVRDt4PDX1upWV9mnnMw8q6irLPg/file [following]
--2025-03-27 00:22:05--  https://uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com/cd/0/inline2/Cmovp585IePGjFPqMoRa1PBl6thT6mGw_8dgM1fMH9Fucw_QFonBWdlthY_3AKFdpsFqARvqYIs0ry0jB86ovQPWAkaSU9b2ERQFGPnra1EMlf878ysCHBKM4pswi6f1zjYAAK1SvrE7WZIJih5nBr0WGYWBFYTNDLdXQXt1qfA-gwxPR0QqLrR1N1H3nqSCtwvx3aQbJDdG-batctiqRY29X04roYs_Kvh3X_ueBeTObwBvAl59mtmnnOvnikc4AUwoKxN5scjGbvziFFV2TFBxlqcRdOlVJj3TpETY-c-d0fA5xvEjXfZdBxQepwXGzBLsQnITn48Q_Rlt4USTNjtKWa4wzf9HvzEaLnOqVRDt4PDX1upWV9mnnMw8q6irLPg/file
Reusing existing connection to uc4dbe5f457559dc58fc4c0364b5.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 903640984 (862M) [application/x-netcdf]
Saving to: ‘CHESS_data.nc’

CHESS_data.nc       100%[===================>] 861.78M  40.5MB/s    in 11s

2025-03-27 00:22:16 (77.9 MB/s) - ‘CHESS_data.nc’ saved [903640984/903640984]

In [40]:
!pip show netcdf4

Name: netCDF4
Version: 1.7.2
Summary: Provides an object-oriented python interface to the netCDF version 4 library
Home-page:
Author:
Author-email: Jeff Whitaker <jeffrey.s.whitaker@noaa.gov>
License: MIT
Location: /usr/local/lib/python3.11/dist-packages
Requires: certifi, cftime, numpy
Required-by:

In [41]:
import xarray as xr
ds_chess = xr.open_dataset("CHESS_data.nc")
print(ds_chess)

<xarray.Dataset> Size: 3GB
Dimensions:    (y: 1057, x: 656, time: 1200, bnds: 2)
Coordinates:
    lat        (y, x) float32 3MB ...
    lon        (y, x) float32 3MB ...
  * time       (time) object 10kB 1980-12-16 00:00:00 ... 2080-11-16 00:00:00
  * x          (x) float32 3kB 500.0 1.5e+03 2.5e+03 ... 6.545e+05 6.555e+05
  * y          (y) float32 4kB 500.0 1.5e+03 2.5e+03 ... 1.056e+06 1.056e+06
Dimensions without coordinates: bnds
Data variables:
    time_bnds  (time, bnds) object 19kB ...
    x_bnds     (x, bnds) float32 5kB ...
    y_bnds     (y, bnds) float32 8kB ...
    crsOSGB    int32 4B ...
    tasmax     (time, y, x) float32 3GB ...
Attributes: (12/35)
    title:                         CHESS-SCAPE: Future projections of meteoro...
    summary:                       Gridded daily meteorological variables ove...
    source:                        This dataset was derived from four ensembl...
    cdm_data_type:                 grid
    standard_name_vocabulary:      CF Standard Name Table v77, https://cfconv...
    standard_name_url_vocabulary:  NERC Vocabulary Server, https://vocab.nerc...
    ...                            ...
    creator_email:                 enquiries@ceh.ac.uk
    creator_institution:           UK Centre for Ecology & Hydrology (UKCEH)
    contributor_name:              Huntingford, C., Semeena, V. S., Bullock, ...
    licence:                       This dataset is available under the terms ...
    institution:                   UK Centre for Ecology & Hydrology (UKCEH)
    Conventions:                   CF-1.8, ACDD-1.3

In [42]:
#Transform same way as mme dataset
import numpy as np

lat_grid = ds_chess['lat'].values
lon_grid = ds_chess['lon'].values

target_lat = 53.246075
target_lon = -2.5

dist = np.sqrt((lat_grid - target_lat)**2 + (lon_grid - target_lon)**2)
min_idx = np.unravel_index(np.argmin(dist), dist.shape)
y_idx, x_idx = min_idx

tasmax_series = ds_chess['tasmax'][:, y_idx, x_idx]
chess_df = tasmax_series.to_dataframe().reset_index()

chess_df.rename(columns={'tasmax': 'tasmax_chess'}, inplace=True)

chess_df['time'] = chess_df['time'].astype(str)
chess_df['time'] = pd.to_datetime(chess_df['time'], errors='coerce')
chess_df['year'] = chess_df['time'].dt.year
chess_df['month'] = chess_df['time'].dt.month
chess_df = chess_df[(chess_df['year'] >= 2006) & (chess_df['year'] <= 2080)]

chess_df = chess_df.drop(columns=['x', 'y'])
chess_df['lon'] = chess_df['lon'].apply(lambda lon: lon - 360 if lon > 180 else lon)
print("Longitude range:", chess_df['lon'].min(), "to", chess_df['lon'].max())
chess_df = chess_df[['time', 'year', 'month', 'lat', 'lon', 'tasmax_chess']]
chess_df

Longitude range: -2.5021114349365234 to -2.5021114349365234

           time  year  month       lat       lon  tasmax_chess
301  2006-01-16  2006      1  53.24818 -2.502111    281.001984
302  2006-02-16  2006      2  53.24818 -2.502111    281.770294
303  2006-03-16  2006      3  53.24818 -2.502111    283.746277
304  2006-04-16  2006      4  53.24818 -2.502111    284.548462
305  2006-05-16  2006      5  53.24818 -2.502111    286.758942
...         ...   ...    ...       ...       ...           ...
1195 2080-07-16  2080      7  53.24818 -2.502111    295.305359
1196 2080-08-16  2080      8  53.24818 -2.502111    297.577484
1197 2080-09-16  2080      9  53.24818 -2.502111    295.929199
1198 2080-10-16  2080     10  53.24818 -2.502111    292.206055
1199 2080-11-16  2080     11  53.24818 -2.502111    287.966858

[899 rows x 6 columns]

We now have a dataset of 899 entries (monthly) for Manchester for tesmax

In [43]:
!wget "https://www.dropbox.com/scl/fi/tsqydr20o3phmz3yi3d1w/pr.nc?rlkey=xungz3xphv96zazjrrd0hr0ix&st=i126jgpj&dl=0" -O PR_data.nc

--2025-03-27 00:22:19--  https://www.dropbox.com/scl/fi/tsqydr20o3phmz3yi3d1w/pr.nc?rlkey=xungz3xphv96zazjrrd0hr0ix&st=i126jgpj&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com/cd/0/inline/CmqO-n_SOOYWBjC8mL9SzIs6OK9PJUJYEYZSSYxaOikq1UNJ8ebah_-klLVaJAIBHz4QeG-FZvJxZhVNWImTQjq_I72LxZ98190RfbwfG3B04xZMKAbMVItCxS54xQbQ19HXjJKSi2Qt2GlDcmgPM9su/file# [following]
--2025-03-27 00:22:19--  https://ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com/cd/0/inline/CmqO-n_SOOYWBjC8mL9SzIs6OK9PJUJYEYZSSYxaOikq1UNJ8ebah_-klLVaJAIBHz4QeG-FZvJxZhVNWImTQjq_I72LxZ98190RfbwfG3B04xZMKAbMVItCxS54xQbQ19HXjJKSi2Qt2GlDcmgPM9su/file
Resolving ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com (ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com (ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Cmoq7Mkdci_3S3vKEsmx2SiP2EkK4ZoesSPrdSIzyy0bgj67yFbFpAjdOgpeB039dJamzG3wAs5u85Obmksxa1isrK4x7QiPv_yP-dSNN6Ch6YZUaXOjfkIg4liUnDvdlyLs-o5dFfMJuPQTtONstv9NddppnNpU7hfFNWOFAu6oUJ6daptSbuGSSoCDUwPAlRznAC0NVTvAgdQ-NJhfTa-ddLZPB24VCd01OHIqA6Vq5CpcuotSDDA6f2LP4tW-OGlxDU58-kMC1JDCQViUJ6yzuoxNpmhKAINi6z3exPA559fb8y1CwjLd3ia1HVgLthy1TKfIMvCwsK40zzwWnQ14wFyw8SD3SaepFxH_gqBl2Ab9uP02GDo3d1-FVooPDuI/file [following]
--2025-03-27 00:22:21--  https://ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com/cd/0/inline2/Cmoq7Mkdci_3S3vKEsmx2SiP2EkK4ZoesSPrdSIzyy0bgj67yFbFpAjdOgpeB039dJamzG3wAs5u85Obmksxa1isrK4x7QiPv_yP-dSNN6Ch6YZUaXOjfkIg4liUnDvdlyLs-o5dFfMJuPQTtONstv9NddppnNpU7hfFNWOFAu6oUJ6daptSbuGSSoCDUwPAlRznAC0NVTvAgdQ-NJhfTa-ddLZPB24VCd01OHIqA6Vq5CpcuotSDDA6f2LP4tW-OGlxDU58-kMC1JDCQViUJ6yzuoxNpmhKAINi6z3exPA559fb8y1CwjLd3ia1HVgLthy1TKfIMvCwsK40zzwWnQ14wFyw8SD3SaepFxH_gqBl2Ab9uP02GDo3d1-FVooPDuI/file
Reusing existing connection to ucbb2dc9faf760cbc84aec5b2cd4.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 1091827117 (1.0G) [application/x-netcdf]
Saving to: ‘PR_data.nc’

PR_data.nc          100%[===================>]   1.02G  45.6MB/s    in 23s

2025-03-27 00:22:45 (44.6 MB/s) - ‘PR_data.nc’ saved [1091827117/1091827117]

In [44]:
!wget "https://www.dropbox.com/scl/fi/cpes0xs9dvxz8acafao01/chess-scape_rcp85_bias-corrected_01_rsds_uk_1km_monthly_19801201-20801130.nc?rlkey=c2w1152tirfm4gn494sfuncpf&st=jet68c0x&dl=0" -O RSDS_data.nc

--2025-03-27 00:22:45--  https://www.dropbox.com/scl/fi/cpes0xs9dvxz8acafao01/chess-scape_rcp85_bias-corrected_01_rsds_uk_1km_monthly_19801201-20801130.nc?rlkey=c2w1152tirfm4gn494sfuncpf&st=jet68c0x&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com/cd/0/inline/Cmrpq5OJM0YmN9FJzXZQwoqj6kpZMK0nfe4O6Ql1cLyLJjPtk3bfVgCAuTSrhJZnpvkW5mcp5w1D6cmNwQtrM1k0yFePn4MTIqGMqCLnuS5_zXSSo90d7vDn_rwcfmO6WrbZaLWc64JtKVbY4lDefQGq/file# [following]
--2025-03-27 00:22:45--  https://uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com/cd/0/inline/Cmrpq5OJM0YmN9FJzXZQwoqj6kpZMK0nfe4O6Ql1cLyLJjPtk3bfVgCAuTSrhJZnpvkW5mcp5w1D6cmNwQtrM1k0yFePn4MTIqGMqCLnuS5_zXSSo90d7vDn_rwcfmO6WrbZaLWc64JtKVbY4lDefQGq/file
Resolving uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com (uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com (uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/CmodMyFX3VUXcAhQj21f1A7IyT3TQPuWGZjuP5pHcaOT5tuEHtFSVWuFEm8cwi93NiGmtpaWSod-v5vU_dXLX1eQlX3SOwFwYFf84oeBpEYhQY01F_GAlhz3iab-buTlVgomC6na1pwfoqPeEu5r6VtiQImz6T4FtZTpkq0YJoYG_qMsP7koyUsvyJRDTYb5FfQEnajRcGApq0L7hnUS-JW2BD-KTp8ZqGNy_fay2434NXhAdQaHZl6RGfuRmz7fOnO7eLSYMclHv8jXjom7Cx1FtjdnJz3QzzrH-Xcs_YhGTqlQn5VwtPm40taseHPm1hErsPSTEe7FNw_TD9D96nmSkuM06seSpr2wgpTub_aawfD1pUWSse2DOi_vP4-rokA/file [following]
--2025-03-27 00:22:46--  https://uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com/cd/0/inline2/CmodMyFX3VUXcAhQj21f1A7IyT3TQPuWGZjuP5pHcaOT5tuEHtFSVWuFEm8cwi93NiGmtpaWSod-v5vU_dXLX1eQlX3SOwFwYFf84oeBpEYhQY01F_GAlhz3iab-buTlVgomC6na1pwfoqPeEu5r6VtiQImz6T4FtZTpkq0YJoYG_qMsP7koyUsvyJRDTYb5FfQEnajRcGApq0L7hnUS-JW2BD-KTp8ZqGNy_fay2434NXhAdQaHZl6RGfuRmz7fOnO7eLSYMclHv8jXjom7Cx1FtjdnJz3QzzrH-Xcs_YhGTqlQn5VwtPm40taseHPm1hErsPSTEe7FNw_TD9D96nmSkuM06seSpr2wgpTub_aawfD1pUWSse2DOi_vP4-rokA/file
Reusing existing connection to uc5d6a7f2308481af731fb5bfd2c.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 1062451806 (1013M) [application/x-netcdf]
Saving to: ‘RSDS_data.nc’

RSDS_data.nc        100%[===================>]   1013M  77.3MB/s    in 13s

2025-03-27 00:22:59 (80.7 MB/s) - ‘RSDS_data.nc’ saved [1062451806/1062451806]

In [45]:
ds_rsds = xr.open_dataset("RSDS_data.nc")
ds_pr = xr.open_dataset("PR_data.nc")
print(ds_rsds)

<xarray.Dataset> Size: 3GB
Dimensions:    (y: 1057, x: 656, time: 1200, bnds: 2)
Coordinates:
    lat        (y, x) float32 3MB ...
    lon        (y, x) float32 3MB ...
  * time       (time) object 10kB 1980-12-16 00:00:00 ... 2080-11-16 00:00:00
  * x          (x) float32 3kB 500.0 1.5e+03 2.5e+03 ... 6.545e+05 6.555e+05
  * y          (y) float32 4kB 500.0 1.5e+03 2.5e+03 ... 1.056e+06 1.056e+06
Dimensions without coordinates: bnds
Data variables:
    time_bnds  (time, bnds) object 19kB ...
    x_bnds     (x, bnds) float32 5kB ...
    y_bnds     (y, bnds) float32 8kB ...
    crsOSGB    int32 4B ...
    rsds       (time, y, x) float32 3GB ...
Attributes: (12/35)
    title:                         CHESS-SCAPE: Future projections of meteoro...
    summary:                       Gridded daily meteorological variables ove...
    source:                        This dataset was derived from four ensembl...
    cdm_data_type:                 grid
    standard_name_vocabulary:      CF Standard Name Table v77, https://cfconv...
    standard_name_url_vocabulary:  NERC Vocabulary Server, https://vocab.nerc...
    ...                            ...
    creator_email:                 enquiries@ceh.ac.uk
    creator_institution:           UK Centre for Ecology & Hydrology (UKCEH)
    contributor_name:              Huntingford, C., Semeena, V. S., Bullock, ...
    licence:                       This dataset is available under the terms ...
    institution:                   UK Centre for Ecology & Hydrology (UKCEH)
    Conventions:                   CF-1.8, ACDD-1.3

In [46]:
# Process rsds to match chess
import numpy as np

lat_grid = ds_rsds['lat'].values
lon_grid = ds_rsds['lon'].values

target_lat = 53.246075
target_lon = -2.5

dist = np.sqrt((lat_grid - target_lat)**2 + (lon_grid - target_lon)**2)
min_idx = np.unravel_index(np.argmin(dist), dist.shape)
y_idx, x_idx = min_idx

print(f"Closest grid cell to Manchester is at x={x_idx}, y={y_idx}")
rsds_series = ds_rsds['rsds'][:, y_idx, x_idx]
rsds_df = rsds_series.to_dataframe().reset_index()

rsds_df.rename(columns={'rsds': 'FSNS_chess'}, inplace=True)

rsds_df['time'] = rsds_df['time'].astype(str)
rsds_df['time'] = pd.to_datetime(rsds_df['time'], errors='coerce')
rsds_df['year'] = rsds_df['time'].dt.year
rsds_df['month'] = rsds_df['time'].dt.month
rsds_df = rsds_df[(rsds_df['year'] >= 2006) & (rsds_df['year'] <= 2080)]

rsds_df = rsds_df.drop(columns=['x', 'y'])
rsds_df['lon'] = rsds_df['lon'].apply(lambda lon: lon - 360 if lon > 180 else lon)
print("Longitude range:", rsds_df['lon'].min(), "to", rsds_df['lon'].max())
rsds_df = rsds_df[['time', 'year', 'month', 'lat', 'lon', 'FSNS_chess']]

Closest grid cell to Manchester is at x=366, y=372
Longitude range: -2.5021114349365234 to -2.5021114349365234

In [47]:
# Process pr to match chess
import numpy as np

lat_grid = ds_pr['lat'].values
lon_grid = ds_pr['lon'].values

target_lat = 53.246075
target_lon = -2.5

dist = np.sqrt((lat_grid - target_lat)**2 + (lon_grid - target_lon)**2)
min_idx = np.unravel_index(np.argmin(dist), dist.shape)
y_idx, x_idx = min_idx

print(f"Closest grid cell to Manchester is at x={x_idx}, y={y_idx}")
pr_series = ds_pr['pr'][:, y_idx, x_idx]
pr_df = pr_series.to_dataframe().reset_index()
pr_df


pr_df.rename(columns={'pr': 'PRECT_chess'}, inplace=True)

pr_df['time'] = pr_df['time'].astype(str)
pr_df['time'] = pd.to_datetime(pr_df['time'], errors='coerce')
pr_df['year'] = pr_df['time'].dt.year
pr_df['month'] = pr_df['time'].dt.month
pr_df = pr_df[(pr_df['year'] >= 2006) & (pr_df['year'] <= 2080)]

pr_df = pr_df.drop(columns=['x', 'y'])
pr_df['lon'] = pr_df['lon'].apply(lambda lon: lon - 360 if lon > 180 else lon)
print("Longitude range:", pr_df['lon'].min(), "to", pr_df['lon'].max())
pr_df = pr_df[['time', 'year', 'month', 'lat', 'lon', 'PRECT_chess']]

Closest grid cell to Manchester is at x=366, y=372
Longitude range: -2.5021114349365234 to -2.5021114349365234

# **Merge Data**

In [48]:
# Merge MAN_data

cleaned_mme = []

for model_name, df in MAN_data.items():
    df = df.copy()
    model_code = model_name.split("_")[1]
    df['model'] = model_code
    df['date'] = pd.to_datetime(df['date'])
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df = df[['date', 'year', 'month', 'TREFMXAV_U', 'FLNS', 'FSNS', 'PRECT', 'PRSN',
             'QBOT', 'TREFHT', 'UBOT', 'VBOT', 'lat', 'lon', 'model']]

    cleaned_mme.append(df)

mme_df = pd.concat(cleaned_mme, ignore_index=True)

In [49]:
mme_df

,date,year,month,TREFMXAV_U,FLNS,FSNS,PRECT,PRSN,QBOT,TREFHT,UBOT,VBOT,lat,lon,model
0,2006-01-01,2006,1,282.775848,41.925179,25.926952,4.663135e-09,4.781004e-17,0.004769,279.142883,3.878579,1.394184,53.246075,357.5,003
1,2006-01-02,2006,1,284.471130,8.905806,10.946910,8.046593e-08,1.295726e-16,0.006271,281.148651,1.788157,3.821703,53.246075,357.5,003
2,2006-01-03,2006,1,284.287964,16.511415,6.405902,2.910935e-09,4.094447e-16,0.005782,281.223785,0.804845,-2.299140,53.246075,357.5,003
3,2006-01-04,2006,1,282.121094,29.948362,9.315041,7.432505e-11,0.000000e+00,0.004277,278.397675,-1.100267,-1.258029,53.246075,357.5,003
4,2006-01-05,2006,1,280.890900,19.064156,7.941241,6.894238e-12,0.000000e+00,0.003990,278.063782,-0.706321,-0.938421,53.246075,357.5,003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164239,2080-12-26,2080,12,286.378754,17.438847,6.720299,3.892051e-08,7.616115e-15,0.006004,282.548523,2.741483,7.565282,53.246075,357.5,008
164240,2080-12-27,2080,12,286.621307,26.986507,12.976557,2.301632e-07,6.722780e-16,0.005813,281.885712,4.295599,7.222901,53.246075,357.5,008
164241,2080-12-28,2080,12,282.327393,41.652626,16.614481,2.653475e-08,1.264485e-15,0.004281,279.076965,3.328679,4.574871,53.246075,357.5,008
164242,2080-12-29,2080,12,281.410248,56.226501,24.193817,1.709695e-08,2.954024e-17,0.004289,277.916626,2.779102,4.442761,53.246075,357.5,008
164243,2080-12-30,2080,12,280.582733,46.781525,24.450218,1.749981e-08,1.094167e-12,0.004278,277.412048,-0.026990,3.524161,53.246075,357.5,008

In [50]:
# Prep chess to match mme dataset

chess_df = chess_df.copy()

chess_df.rename(columns={'tasmax_chess': 'TREFMXAV_U'}, inplace=True)

for col in ['FLNS', 'FSNS', 'PRECT', 'PRSN', 'QBOT', 'TREFHT', 'UBOT', 'VBOT']:
    chess_df[col] = np.nan

chess_df['date'] = pd.to_datetime(chess_df[['year', 'month']].assign(day=15))

chess_df['model'] = '0085'

chess_df = chess_df[['date', 'year', 'month', 'TREFMXAV_U', 'FLNS', 'FSNS', 'PRECT', 'PRSN',
                     'QBOT', 'TREFHT', 'UBOT', 'VBOT', 'lat', 'lon', 'model']]
chess_df

,date,year,month,TREFMXAV_U,FLNS,FSNS,PRECT,PRSN,QBOT,TREFHT,UBOT,VBOT,lat,lon,model
301,2006-01-15,2006,1,281.001984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
302,2006-02-15,2006,2,281.770294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
303,2006-03-15,2006,3,283.746277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
304,2006-04-15,2006,4,284.548462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
305,2006-05-15,2006,5,286.758942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2080-07-15,2080,7,295.305359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
1196,2080-08-15,2080,8,297.577484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
1197,2080-09-15,2080,9,295.929199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
1198,2080-10-15,2080,10,292.206055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085
1199,2080-11-15,2080,11,287.966858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085

In [51]:
# Merge pr and rsds with chess (rename and drop additional columns)

pr_df.rename(columns={'PRECT_chess': 'PRECT'}, inplace=True)
rsds_df.rename(columns={'FSNS_chess': 'FSNS'}, inplace=True)

chess_df = pd.merge(chess_df, pr_df[['year', 'month', 'PRECT']], on=['year', 'month'], how='left')
chess_df = pd.merge(chess_df, rsds_df[['year', 'month', 'FSNS']], on=['year', 'month'], how='left')

chess_df.drop(columns=['PRECT_x', 'FSNS_x'], inplace=True)
chess_df.rename(columns={'PRECT_y': 'PRECT', 'FSNS_y': 'FSNS'}, inplace=True)

In [52]:
chess_df

,date,year,month,TREFMXAV_U,FLNS,PRSN,QBOT,TREFHT,UBOT,VBOT,lat,lon,model,PRECT,FSNS
0,2006-01-15,2006,1,281.001984,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000038,22.417812
1,2006-02-15,2006,2,281.770294,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000027,48.379295
2,2006-03-15,2006,3,283.746277,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000023,95.018860
3,2006-04-15,2006,4,284.548462,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000024,142.946579
4,2006-05-15,2006,5,286.758942,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000022,175.253571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,2080-07-15,2080,7,295.305359,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000037,215.390106
895,2080-08-15,2080,8,297.577484,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000010,197.854187
896,2080-09-15,2080,9,295.929199,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000006,147.282272
897,2080-10-15,2080,10,292.206055,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000021,74.600731
898,2080-11-15,2080,11,287.966858,NaN,NaN,NaN,NaN,NaN,NaN,53.24818,-2.502111,0085,0.000022,37.870792

In [54]:
# Merge chess & mme into full_df & fix Kelvin -> Celcius
full_df = pd.concat([mme_df, chess_df], ignore_index=True)

full_df['TREFMXAV_U'] = full_df['TREFMXAV_U'] - 273.15


print(full_df['model'].value_counts())
full_df

model
003     27374
004     27374
005     27374
006     27374
007     27374
008     27374
0085      899
Name: count, dtype: int64

<ipython-input-54-200633e40a31>:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat([mme_df, chess_df], ignore_index=True)

,date,year,month,TREFMXAV_U,FLNS,FSNS,PRECT,PRSN,QBOT,TREFHT,UBOT,VBOT,lat,lon,model
0,2006-01-01,2006,1,9.625854,41.925179,25.926952,4.663135e-09,4.781004e-17,0.004769,279.142883,3.878579,1.394184,53.246075,357.500000,003
1,2006-01-02,2006,1,11.321136,8.905806,10.946910,8.046593e-08,1.295726e-16,0.006271,281.148651,1.788157,3.821703,53.246075,357.500000,003
2,2006-01-03,2006,1,11.137970,16.511415,6.405902,2.910935e-09,4.094447e-16,0.005782,281.223785,0.804845,-2.299140,53.246075,357.500000,003
3,2006-01-04,2006,1,8.971100,29.948362,9.315041,7.432505e-11,0.000000e+00,0.004277,278.397675,-1.100267,-1.258029,53.246075,357.500000,003
4,2006-01-05,2006,1,7.740906,19.064156,7.941241,6.894238e-12,0.000000e+00,0.003990,278.063782,-0.706321,-0.938421,53.246075,357.500000,003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165138,2080-07-15,2080,7,22.155365,NaN,215.390106,4.232548e-13,NaN,NaN,NaN,NaN,NaN,53.248180,-2.502111,0085
165139,2080-08-15,2080,8,24.427490,NaN,197.854187,1.110259e-13,NaN,NaN,NaN,NaN,NaN,53.248180,-2.502111,0085
165140,2080-09-15,2080,9,22.779205,NaN,147.282272,7.228998e-14,NaN,NaN,NaN,NaN,NaN,53.248180,-2.502111,0085
165141,2080-10-15,2080,10,19.056061,NaN,74.600731,2.394742e-13,NaN,NaN,NaN,NaN,NaN,53.248180,-2.502111,0085
165142,2080-11-15,2080,11,14.816864,NaN,37.870792,2.514201e-13,NaN,NaN,NaN,NaN,NaN,53.248180,-2.502111,0085

# **Validate Data**

In [56]:
# Negative Values

neg_check = full_df[['PRECT', 'PRSN', 'FLNS', 'FSNS', 'QBOT']].lt(0).sum()
print("Negative value counts:\n", neg_check)
vars_never_negative = ['PRECT', 'PRSN', 'FLNS', 'FSNS', 'QBOT']
for col in vars_never_negative:
    full_df[col] = full_df[col].apply(lambda x: max(x, 0) if pd.notnull(x) else x)

Negative value counts:
 PRECT    0
PRSN     0
FLNS     0
FSNS     0
QBOT     0
dtype: int64

In [59]:
full_df.describe()

,date,year,month,TREFMXAV_U,FLNS,FSNS,PRECT,PRSN,QBOT,TREFHT,UBOT,VBOT,lat,lon
count,165143,165143.000000,165143.000000,165143.000000,164244.000000,165143.000000,1.651430e+05,1.642440e+05,164244.000000,164244.000000,164244.000000,164244.000000,165143.000000,165143.000000
mean,2043-07-01 17:50:58.374862848,2042.998432,6.525654,15.744396,43.101493,97.295389,3.358928e-08,3.165129e-10,0.006545,284.932526,1.208071,1.516496,53.246101,355.540232
min,2006-01-01 00:00:00,2006.000000,1.000000,-1.822937,0.000000,1.445412,0.000000e+00,0.000000e+00,0.001555,266.015381,-9.797097,-11.123035,53.246075,-2.502111
25%,2024-10-01 00:00:00,2024.000000,4.000000,11.659805,26.179801,31.266350,1.979676e-09,0.000000e+00,0.004879,281.075012,-1.041753,-0.701179,53.246075,357.500000
50%,2043-07-01 00:00:00,2043.000000,7.000000,15.240723,40.784410,78.376495,1.266884e-08,6.143178e-22,0.006246,284.656403,1.518637,1.617521,53.246075,357.500000
75%,2062-04-01 00:00:00,2062.000000,10.000000,19.824814,57.289759,150.102432,4.563117e-08,2.414438e-16,0.007988,288.995483,3.401309,3.621754,53.246075,357.500000
max,2080-12-30 00:00:00,2080.000000,12.000000,38.107269,118.209473,310.974915,8.357912e-07,4.985002e-07,0.018279,303.117981,12.690058,12.794631,53.248180,357.500000
std,NaN,21.647895,3.447774,5.235170,21.538836,75.151348,5.045284e-08,5.173666e-09,0.002123,4.986011,3.061526,2.922178,0.126948,26.489319

In [60]:
# Fix longitude
mme_mask = full_df['model'] != '0085'

full_df.loc[mme_mask, 'lon'] = full_df.loc[mme_mask, 'lon'].apply(
    lambda x: x - 360 if x > 180 else x
)

In [61]:
# Basic overview
print(full_df.shape)
print(full_df.dtypes)
print(full_df['model'].value_counts())
print(full_df.isna().sum())

(165143, 15)
date          datetime64[ns]
year                   int32
month                  int32
TREFMXAV_U           float32
FLNS                 float64
FSNS                 float64
PRECT                float64
PRSN                 float64
QBOT                 float64
TREFHT               float32
UBOT                 float32
VBOT                 float32
lat                  float32
lon                  float64
model                 object
dtype: object
model
003     27374
004     27374
005     27374
006     27374
007     27374
008     27374
0085      899
Name: count, dtype: int64
date            0
year            0
month           0
TREFMXAV_U      0
FLNS          899
FSNS            0
PRECT           0
PRSN          899
QBOT          899
TREFHT        899
UBOT          899
VBOT          899
lat             0
lon             0
model           0
dtype: int64

In [69]:
# 1. Check Common varibales between Chess and MME
print("TREFMXAV_U value check per model")
print(full_df.groupby('model')['TREFMXAV_U'].describe())

print("\n")

print("year FSNS check per model")
print(full_df.groupby('model')['FSNS'].describe())

print("\n")

TREFMXAV_U value check per model
         count       mean       std       min        25%        50%  \
model
003    27374.0  15.686185  5.246464  1.003204  11.569466  15.149902
004    27374.0  15.700686  5.202891 -0.825134  11.598122  15.225266
005    27374.0  15.784789  5.201962  0.918610  11.754562  15.211945
006    27374.0  15.923167  5.163857 -0.626282  11.849289  15.398026
007    27374.0  15.685923  5.290716 -1.822937  11.567924  15.250763
008    27374.0  15.702014  5.283375 -0.152435  11.673470  15.229797
0085     899.0  15.244807  5.714432  3.789032  10.229218  14.668976

             75%        max
model
003    19.719528  38.107269
004    19.829247  34.225830
005    19.867134  33.341034
006    19.967567  37.395142
007    19.779549  34.530701
008    19.792931  36.813934
0085   19.922592  31.322357


year FSNS check per model
         count        mean        std        min        25%         50%  \
model
003    27374.0   97.026261  75.062880   2.819259  31.037187   78.443184
004    27374.0   96.728730  74.476864   1.445412  31.204526   78.132797
005    27374.0   97.240337  75.288358   2.245905  31.160553   77.990501
006    27374.0   97.429342  75.281058   1.996514  31.098546   79.215393
007    27374.0   97.049284  75.070119   1.871637  31.174652   78.103260
008    27374.0   97.473216  75.484897   2.513324  31.680334   77.503395
0085     899.0  122.421194  78.337260  16.345314  44.388908  119.952202

              75%         max
model
003    149.332134  310.191711
004    149.011879  310.385254
005    149.775871  308.308960
006    151.211830  307.639496
007    149.788868  310.974915
008    149.942024  307.705994
0085   196.343491  295.718445

In [80]:
#Final checks
import pandas as pd
import numpy as np

print("TREFMXAV_U value check per model (should be 0-30 C):")
print(full_df.groupby('model')['TREFMXAV_U'].describe())

print("\n")

print("Date range check:")
print(f"Min date: {full_df['date'].min()}")
print(f"Max date: {full_df['date'].max()}")

print("\n")

print("Missing values per column:")
print(full_df.isnull().sum())

print("\n")

expected_cols = ['TREFMXAV_U', 'FLNS', 'FSNS', 'PRECT', 'PRSN', 'QBOT', 'TREFHT', 'UBOT', 'VBOT']
models = full_df['model'].unique()

print("Feature presence check per model:")
for model in models:
    print(f"\nModel {model}")
    sub_df = full_df[full_df['model'] == model]
    print(sub_df[expected_cols].notnull().sum())

print("\n")

print("Data types:")
print(full_df.dtypes)

print("\n")

print("Row counts per model:")
print(full_df['model'].value_counts())

TREFMXAV_U value check per model (should be 0-30 C):
         count       mean       std       min        25%        50%  \
model
003    27374.0  15.686185  5.246464  1.003204  11.569466  15.149902
004    27374.0  15.700686  5.202891 -0.825134  11.598122  15.225266
005    27374.0  15.784789  5.201962  0.918610  11.754562  15.211945
006    27374.0  15.923167  5.163857 -0.626282  11.849289  15.398026
007    27374.0  15.685923  5.290716 -1.822937  11.567924  15.250763
008    27374.0  15.702014  5.283375 -0.152435  11.673470  15.229797
0085     899.0  15.244807  5.714432  3.789032  10.229218  14.668976

             75%        max
model
003    19.719528  38.107269
004    19.829247  34.225830
005    19.867134  33.341034
006    19.967567  37.395142
007    19.779549  34.530701
008    19.792931  36.813934
0085   19.922592  31.322357


Date range check:
Min date: 2006-01-01 00:00:00
Max date: 2080-12-30 00:00:00


Missing values per column:
date            0
year            0
month           0
TREFMXAV_U      0
FLNS          899
FSNS            0
PRECT           0
PRSN          899
QBOT          899
TREFHT        899
UBOT          899
VBOT          899
lat             0
lon             0
model           0
dtype: int64


Feature presence check per model:

Model 003
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 004
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 005
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 006
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 007
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 008
TREFMXAV_U    27374
FLNS          27374
FSNS          27374
PRECT         27374
PRSN          27374
QBOT          27374
TREFHT        27374
UBOT          27374
VBOT          27374
dtype: int64

Model 0085
TREFMXAV_U    899
FLNS            0
FSNS          899
PRECT         899
PRSN            0
QBOT            0
TREFHT          0
UBOT            0
VBOT            0
dtype: int64


Data types:
date          datetime64[ns]
year                   int32
month                  int32
TREFMXAV_U           float32
FLNS                 float64
FSNS                 float64
PRECT                float64
PRSN                 float64
QBOT                 float64
TREFHT               float32
UBOT                 float32
VBOT                 float32
lat                  float32
lon                  float64
model                 object
dtype: object


Row counts per model:
model
003     27374
004     27374
005     27374
006     27374
007     27374
008     27374
0085      899
Name: count, dtype: int64

In [81]:
# Downlaod
full_df.to_csv("full_dataset.csv", index=False)
from google.colab import files
files.download("full_dataset.csv")